body {
  background-color: rgb(237, 237, 237);
  /* background-color: coral; */
}

.input {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: rgb(247, 247, 247);
}

.input_speak,
.input_emoji,
.input_more {
  height: 5rem;
  width: 5rem;
  background: url(../img/sound.png) no-repeat;
  background-size: contain;
  margin: 0 2rem;
}

.input > input {
  flex-grow: 1;
  height: 7.5rem;
  background-color: #fff;
  font-size: 3rem;
}

.input_emoji {
  background: url(../img/emoji.png) no-repeat;
  background-size: contain;
}

.input_more {
  background: url(../img/more.png) no-repeat;
  background-size: contain;
  margin-left: 0;
}

.content {
  margin: 10rem 0;
}

.content_me,
.content_friend {
  display: flex;
  margin-bottom: 2rem;
}

.content_me {
  display: flex;
  justify-content: flex-end;
}

.content_me_words,
.content_friend_words {
  font-size: 3rem;
  background-color: rgb(149, 236, 105);
  padding: 2rem;
  /* text-align: center; */
  border-radius: 1rem;
  max-width: 50rem;
  word-break: break-all;
}

.content_friend_words {
  background-color: #fff;
}

.content_me > div,
.content_friend > div {
  display: flex;
  align-items: center;
}

.content_me_triangle,
.content_friend_triangle {
  width: 0;
  height: 0;
  border: 1.5rem solid;
  border-color: rgb(237, 237, 237) rgb(237, 237, 237) rgb(237, 237, 237)
    rgb(149, 236, 105);
}

.content_friend_triangle {
  border-color: rgb(237, 237, 237) #fff rgb(237, 237, 237) rgb(237, 237, 237);
}

.content img {
  width: 7.5rem;
  height: 7.5rem;
}
