* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

@media screen and (max-width: 375px) {
  html {
    font-size: 4px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 5px;
  }
}

@media screen and (min-width: 450px) {
  html {
    font-size: 6px;
  }
}

@media screen and (min-width: 525px) {
  html {
    font-size: 7px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 8px;
  }
}

@media screen and (min-width: 675px) {
  html {
    font-size: 9px;
  }
}

@media screen and (min-width: 750px) {
  html {
    font-size: 10px;
  }
}

input,
textarea {
  outline: none;
  border: none;
}

textarea {
  resize: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
