header > span {
  width: auto;
  display: flex;
}

body {
  background-color: rgb(237, 237, 237);
}

.title {
  padding-left: 2.5rem;
}

.page {
  margin: 10rem 0;
  background-color: rgb(237, 237, 237);
}

.chat_list {
  background-color: #fff;
  height: 12.5rem;
  /* background-color: rgb(247, 247, 247); */
  display: flex;
}

.chat_list_photo {
  width: 8.5rem;
  height: 8.5rem;
  background: url(../img/myPhoto.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 2rem 2.5rem;
}

.page > .chat_list:nth-child(1) > .chat_list_photo {
  background: url(../img/follow.png) no-repeat;
  background-size: contain;
}

.chat_list_info {
  padding: 2.5rem;
  padding-left: 0;
  border-bottom: 0.2rem solid rgb(237, 237, 237);
  flex-grow: 1;
}

.chat_list_info > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat_list_info_name {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.chat_list_info_time {
  font-size: 1.8rem;
  color: rgb(192, 192, 192);
}

.chat_list_info_message {
  font-size: 2rem;
  color: rgb(192, 192, 192);
}

nav {
  width: 100%;
  height: 10rem;
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: rgb(237, 237, 237);
}

.nav {
  width: 25%;
  text-align: center;
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav.green {
  color: #06c05f;
}

nav img {
  width: 4.5rem;
}

.friends_classify li {
  display: flex;
  font-size: 3rem;
  align-items: center;
  background-color: #fff;
}

.friends_classify li > div:nth-child(2) {
  border-bottom: 0.2rem solid rgb(237, 237, 237);
  padding: 3rem 0;
  flex-grow: 1;
}

.friends_classify li:nth-child(4) > div:nth-child(2) {
  border: none;
}

.friends_classify_img {
  width: 7.5rem;
  height: 7.5rem;
  background-color: rgb(250, 158, 59);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 2rem;
  border-radius: 1rem;
}

.friends_classify li:nth-child(2) > .friends_classify_img {
  background-color: rgb(7, 193, 96);
}

.friends_classify li:nth-child(3) > .friends_classify_img,
.friends_classify li:nth-child(4) > .friends_classify_img {
  background-color: rgb(39, 129, 215);
}

.friends_classify img {
  width: 4rem;
}

.friends {
  margin-bottom: 10rem;
}

.friends_list_index {
  margin-left: 2.5rem;
  font-size: 2.2rem;
  color: rgb(106, 106, 106);
  padding: 1.5rem 0;
}

.friends_list_people {
  background-color: #fff;
  padding: 1.5rem 0;
  display: flex;
  /* background-color: aqua; */
  align-items: center;
}

.friends_list_people img {
  width: 7.5rem;
  height: 7.5rem;
  margin: 0 2.5rem;
  border-radius: 1rem;
}

.friends_list_people_name {
  font-size: 3rem;
}

.friends_nav {
  position: fixed;
  right: 1rem;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 2rem;
  height: 77rem;
  font-size: 2rem;
  text-align: center;
  z-index: 99;
}

.friends_nav > li:nth-child(1) > a::after {
  content: "\2191";
}

.friends_nav > li:nth-child(2) > a::after {
  content: "\2605";
}

.find li {
  display: flex;
  align-items: center;
  padding: 2rem 2.5rem;
  background-color: #fff;
  font-size: 2.8rem;
  border-bottom: 0.1rem solid rgb(237, 237, 237);
}

.find .find_ico {
  width: 4rem;
  height: 4rem;
  background: url(../img/moments.png) no-repeat;
  background-size: contain;
  padding-right: 2.5rem;
}

.find > li:nth-child(2) > .find_ico {
  background: url(../img/video.png) no-repeat;
  background-size: contain;
}

.find > li:nth-child(3) > .find_ico {
  background: url(../img/scan.png) no-repeat;
  background-size: contain;
}

.find > li:nth-child(4) > .find_ico {
  background: url(../img/shake.png) no-repeat;
  background-size: contain;
}

.find > li:nth-child(5) > .find_ico {
  background: url(../img/browse.png) no-repeat;
  background-size: contain;
}

.find > li:nth-child(6) > .find_ico {
  background: url(../img/find_search.png) no-repeat;
  background-size: contain;
}

.find > li:nth-child(7) > .find_ico {
  background: url(../img/nearby.png) no-repeat;
  background-size: contain;
}

.find > li:nth-child(8) > .find_ico {
  background: url(../img/buy.png) no-repeat;
  background-size: contain;
}

.find > li:nth-child(9) > .find_ico {
  background: url(../img/game.png) no-repeat;
  background-size: contain;
}

.find > li:nth-child(10) > .find_ico {
  background: url(../img/mini_program.png) no-repeat;
  background-size: contain;
}

.find > li:nth-child(1),
.find > li:nth-child(2),
.find > li:nth-child(4),
.find > li:nth-child(6),
.find > li:nth-child(7),
.find > li:nth-child(9),
.find > li:nth-child(10) {
  margin-bottom: 1.5rem;
  border: none;
}

.find_describe {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.find_describe_ico::after {
  content: ">";
  color: rgb(192, 192, 192);
}

.me_photo img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.me {
  font-size: 3rem;
  text-align: center;
}

.exit {
  background-color: red;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  padding: 2rem 5rem;
  margin: 0 20rem;
  margin-top: 40rem;
}
