.transparent {
  background-color: rgba(237, 237, 237, 0);
}

.user > img {
  height: 60rem;
  width: 100%;
}

.user {
  position: relative;
}

.user_info {
  height: 14rem;
  position: absolute;
  right: 2.5rem;
  bottom: -4rem;
  display: flex;
  align-items: center;
  color: white;
  font-size: 3rem;
}

.user_info_name {
  padding: 0 2.5rem;
}

.moments {
  display: flex;
  flex-direction: column-reverse;
}

.user_info_photo > img {
  height: 11rem;
  width: 11rem;
}

.moments_info {
  display: flex;
  padding: 2.5rem 2rem;
  font-size: 3rem;
  line-height: 4rem;
}

.moments_info_photo {
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
  margin-right: 2rem;
}

.moments_info_text_name {
  color: rgb(88, 107, 147);
}

.moments_info_text_img {
  display: flex;
  flex-wrap: wrap;
}

.miti_img {
  width: 40rem;
  height: 40rem;
  background-image: url(../img/8C029A6E2FA0C3F6385D1DEB43C88AE4.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-top: 1rem;
  margin-right: 1rem;
}

.miti_img.plural {
  width: 18rem;
  height: 18rem;
}

.moments_info_text_content {
  word-break: break-all;
}

.moments_info_text_content.fold {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.moments_info_text_unfold {
  color: rgb(88, 107, 147);
  font-size: 2.5rem;
}

.big-img {
  position: absolute;
  background-color: black;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  align-items: center;
}

.big-img .miti_img {
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  margin: 0;
}
.big-img .miti_img.plural {
  margin: 0;
}
